/* General styles */


body{
	font-family: lucida sans;
}


.sections{
	padding: 20px 0;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
}



.section-header .section-title{
	font-size: 40px;
}

.section-header .line{
	width: 150px;
	background: #ddd;
	height: 3px;
	margin: auto;

}

.section-header .line span{
	display: block;
	width: 100px;
	height: 4px;
	background-color: #7cb62f;
	margin:auto;
	position: relative;
	bottom:0.5px;
}

.section-header p{
	width: 50%;
	color: #888;
	margin: 30px auto;
	line-height: 1.5;
}



/*Header */
header{
	height: auto;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
header i.icon{
	position: absolute;
	right: 30px;
	top: 32px;
	z-index: 10;
	display: none;
}

header .logo h2{
	font-size: 35px;
	color: white;
	padding: 10px;
	margin-left: -20px;
	margin-top: -10px;
}

header nav .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}

header nav .nav-list .list a{
	display: block;
	padding: 15px 0;
	margin: -5px 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: white;
}

header nav .nav-list .list a:hover{
	color: #7cb62f;
}

.sticky{
	background: black;
	color: white;
	height: 60px;
}

@media only screen and (max-width: 575px){
	header{
		background: black;
		height: 60px;
	}
	header nav .nav-list{
		display: none;
		text-align: center;
		padding: 0;
	}
	header .logo{
		text-align: center;
	}
	header i.icon{
	display: block;
}
	.home .home-title{
		font-size: 22px;
	}
	
	.about .about-info h3{
		text-align: center;
}

}

@media only screen and (max-width: 992px){
	.section-header p{
		width: 85%;
	}
}
 /*and (max-width: 768px)*/

@media only screen and (max-width: 756px)   {
	.about .about-info{
		text-align: center;
	}
	header nav .nav-list{
		text-align: center;
		margin-top: -60px;
	}
	.home-content .button{
		margin: 10px 0px;
		padding: 50px 0px;
		 
	}
	/*.home .button{
		padding: 20px 0;
	}*/


}
@media only screen and (min-width: 650px) and (max-width: 767px){
	
	.logo{
		margin-left: -40px;
	}

}


/* Home section */

.home{
	height: 650px;
	background-image : url('../images/road.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.home .home-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home .home-title{
	color: white;
	font-size: 40px;
	margin-bottom: 30px;
}

.home .home-desc{
	color: white;
	font-size: 18px;
}

.home .button{
	background: #7cb62f;
	color: white;
	width: 150px;
	text-align: center;
	padding: 10px 0;
	/*i adjusted the margin from 0 to 10px */
	margin: 10px 20px;

}

/*-- About Us --*/

.about .about-info h3{
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 20px;

}


.about .about-info h3 span{
	color: #7cb62f;
	font-weight: bold;
}


.about .about-info .about-info-desc{
	line-height: 1.8;
	color: #888;
	margin-bottom: 20px;
}

.about .about-info .about-info-btn{
	position: block;
	background-color: #7cb62f;
	padding: 6px 20px;
	border: 0;
	border-radius: 3px;
	color: white;
	margin-bottom: 20px;


}

.about .about-img img{
	width: 100%;
}

/* Services */
.services{
	background: #f7f7f7;
}

.services .serv{
	background: white;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 20px;

}

.services .serv .icon{
	background: #7cb62f;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: white;
	border-radius: 50%;
}

.services .serv-title{
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.services .serv-desc{
	font-size: 16px;
	color: #888;
	margin-bottom: 20px;
}

/*--FOOTER--*/
